{{#layout}}

    <!-- header start -->

<a href="http://coddingember.com" class="logo-readium">
  <span class="logo" style="background-image: url(/assets/images/df_logo.jpg)"></span>
</a>

{{> blog-section-header}}


<p>I never thought that this will ever happen. I hoped for it, but I never expected this. The mediator theme I ported is actually used by some one else and I’m very proud of this. My personal efforts that I have mainly done for my self are now helping other people creating their blog. But with this came also the responsibility to help others with their blog using the theme. I have lot of fun doing this. But in general I&#39;m proud of my work.</p>
{{#highlight javascript}}
module.exports =  {
  title: 'Home'
, documentationUrl: 'http://broccoli-taco.com/documentation/'
, imageUrl: 'static/assets/images/park.jpg'
, authorImage: 'static/assets/images/author.jpg'
};
{{/highlight}}

<p>I never thought that this will ever happen. I hoped for it, but I never expected this. The mediator theme I ported is actually used by some one else and I’m very proud of this. My personal efforts that I have mainly done for my self are now helping other people creating their blog. But with this came also the responsibility to help others with their blog using the theme. I have lot of fun doing this. But in general I&#39;m proud of my work.</p>

{{> blog-meta-data}}

{{> blog-section-footer}}


{{/layout}}
