<!-- footer start -->
<footer class="site-footer">
  <section class="share">
    <a class="icon-twitter" href="http://twitter.com/share?text=Proud&amp;url=http://blog.base68.com/2014/09/21/proud"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=255');return false;">
    <i class="fa fa-twitter"></i><span class="hidden">twitter</span>
    </a>
  </section>
  <div class="inner">
     <section class="copyright">All content copyright <a href="mailto:{{ site.email}}">{{ site.name }}</a> &copy; {{ site.time }} &bull; All rights reserved.</section>
  </div>
</footer>

<!-- footer end -->
