{{#layout}}

<a href="http://codingember.com" class="logo-readium">
  <span class="logo" style="background-image: url(/assets/images/df_logo.jpg)"></span>
</a>

{{> blog-section-header}}

{{yield}}

{{> blog-section-footer}}

{{> blog-meta-data}}

{{/layout}}
